In [1]:
import pandas as pd 
import sqlite3

conexion = sqlite3.connect('sakila.db')

df = pd.read_sql('SELECT film_id, title, description FROM film', conexion)

df.head(3)

DatabaseError: ignored