# Ejercicios de la Librería Pandas

## Ejercicio 1

Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

In [87]:
datos={2015:0,2016:0,2017:0,2018:0,2019:0}

for año, monto in datos.items():
    venta=input("Ingrese venta en año: "+ str(año)+" ")

Ingrese venta en año: 2015 1
Ingrese venta en año: 2016 2
Ingrese venta en año: 2017 3
Ingrese venta en año: 2018 4
Ingrese venta en año: 2019 5

## Ejercicio 2

Escribir una función que reciba una diccionario con las notas de los alumnos en curso en un examen y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [62]:
import pandas as pd # Importamos la libreria necesaria.

notas_alumnos={"Darío":8.5,"Ludmila":4.3,"Natalia":6.5,"Lautaro":10.0} # Creamos el diccionario con las notas.

def Calculo_Notas(_notas_alumnos): # Definimos la función y le asignamos un diccionario com parámetro.
    examen= pd.Series(_notas_alumnos) # Convertimos el diccionario en una Serie.
    lista=[examen.min(),examen.max(),examen.mean(),examen.std()] # Creamos una lista con los valores resultantes de aplicar las funciones de calculo de la Serie.
    valores= pd.Series([lista]) # Creamos la Serie definitiva a partir de la lista.
    

    return print(valores) # Imprimimos por consola los valores de la Serie definitiva.

Calculo_Notas(notas_alumnos)  # Llamamos a la función (con el diccionario como parámetro).

0    [4.3, 10.0, 7.325, 2.4743686063317245]
dtype: object

## Ejercicio 3

Escribir una función que reciba una diccionario con las notas de los alumnos en curso en un examen y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [65]:
import pandas as pd # Importamos la libreria necesaria.

notas_examen={"Alfredo":9.0," Maria":7.0,"Marcos":4.0,"Andres":3.0} # Definimos el diccionario con el nombre de alumnos y sus notas.

def alumnos_aprobados(_notas_examen): # Definimos la funcion alumnos_aprobados(con el diccionario como parámetro).
    notas_aprobadas= pd.Series(_notas_examen) # Creamos la Serie notas_aprobadas a partir del diccionario notas_examen{}.
    
    return print("Alumnos aprobados:\n",(notas_aprobadas[notas_aprobadas > 6])) # La función nos retorna el resultado de un filtrado de la serie mediante una condición.

alumnos_aprobados(notas_examen) # Llamamos a la función alumnos_aprobados(con el diccionario como parámetro).

Alumnos aprobados:
 Alfredo    9.0
 Maria     7.0
dtype: float64

## Ejercicio 4

Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:
<table>
<thead>
<tr>
<th>Mes</th>
<th style="text-align:right">Ventas</th>
<th style="text-align:right">Gastos</th>
</tr>
</thead>
<tbody>
<tr>
<td>Enero</td>
<td style="text-align:right">30500</td>
<td style="text-align:right">22000</td>
</tr>
<tr>
<td>Febrero</td>
<td style="text-align:right">35600</td>
<td style="text-align:right">23400</td>
</tr>
<tr>
<td>Marzo</td>
<td style="text-align:right">28300</td>
<td style="text-align:right">18100</td>
</tr>
<tr>
<td>Abril</td>
<td style="text-align:right">33900</td>
<td style="text-align:right">20700</td>
</tr>
</tbody>
</table>

In [43]:
import pandas as pd # Importamos la libreria necesaria.

# Creamos un diccionario de listas donde la clave sera el nombre de la futura columna y
# en la lista agrupamos los valores de la columna.

datos={"Mes":["Enero","Febrero","Marzo","Abril"], 
       "Ventas":[30500,35600,28300,33900],        
       "Gastos":[22000,23400,18100,20700] }

df=pd.DataFrame(datos) # Creamos el DataFrame a partir del diccionario asignado.

print(df) # Imprimimos por pantalla el resultado.

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

## Ejercicio 5

Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [49]:
import pandas as pd

meses=["Enero","Marzo","Abril"]

def balance(df,meses):
    for i in len(meses):
        print(meses[i]) 
    
    

balance(df,meses)

TypeError: ignored

## Ejercicio 6

El archivo <a href="https://drive.google.com/file/d/1V06-QPe36PIIMq0z6Nm8_02mHB1KX_Cu/view?usp=sharing"> cotizacion.csv</a> contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas: <font color=#B40431>Nombre</font> (nombre de la empresa), <font color=#B40431>Final</font> (precio de la acción al cierre de bolsa), <font color=#B40431>Máximo</font> (precio máximo de la acción durante la jornada), <font color=#B40431>Mínimo</font> (precio mínimo de la acción durante la jornada), <font color=#B40431>Volumen</font> (Volumen al cierre de bolsa), <font color=#B40431>Efectivo</font> (capitalización al cierre en miles de euros). Construir una función que construya un DataFrame a partir del un archivo con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

## Ejercicio 7

El fichero <a href="https://drive.google.com/file/d/17KGu5s3mCHLdrg3vuA6sqtLOKZEQYO7c/view?usp=sharing">titanic.csv</a> contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:
<ol>
<li>Generar un DataFrame con los datos del archivo.</li>
<li>Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas</li>
<li>Mostrar por pantalla los datos del pasajero con identificador 148.</li>
<li>Mostrar por pantalla las filas pares del DataFrame.</li>
<li>Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.</li>
<li>Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.</li>
<li>Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.</li>
<li>Eliminar del DataFrame los pasajeros con edad desconocida.</li>
<li>Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.</li>
<li>Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.</li>
<li>Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.</li>
</ol>

## Ejercicio 8

Los archivos <a href="https://drive.google.com/file/d/1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz/view?usp=sharing">emisiones-2016.csv</a>, <a href="https://drive.google.com/file/d/1R5JLin8d2BhHFKSQhX2hP2bGPRCvR8Xj/view?usp=sharing">emisiones-2017.csv</a>, <a href="https://drive.google.com/file/d/1qoB3OcPDUkerswT02uAvLshTT7J0qTWQ/view?usp=sharing">emisiones-2018.csv</a> y <a href="https://drive.google.com/file/d/1pAbH8EwHm9KkUzyiy56auH0DvLT_DkAO/view?usp=sharing">emisiones-2019.csv</a>, contienen datos sobre las emisiones contaminates en la Ciudad Autónoma de Buenos Aires en los años 2016, 2017, 2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:
<ol>
<li>Generar un DataFrame con los datos de los cuatro archivos.</li>
<li>Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO, MES y las correspondientes a los días D01, D02, etc.</li>
<li>Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días aparezcan en una única columna.</li>
<li>Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo <font color=#B40431>datetime</font>).</li>
<li>Eliminar las filas con fechas no válidas (utilizar la función <font color=#B40431>isnat</font> del módulo <font color=#B40431>numpy</font>) y ordenar el DataFrame por estaciones, contaminantes y fecha.</li>
<li>Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.</li>
<li>Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estación y rango de fechas dado.</li>
<li>Mostrar un resumen descriptivo (mímino, máximo, media, etc) para cada contaminante.</li>
<li>Mostrar un resumen descriptivo para cada contaminante por distritos.</li>
<li>Crear una función que reciba una estación y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estadión indicada.</li>
<li>Crear una función que devuelva las emisiones medias mensuales de un contaminante y un año dados para todos las estaciones.</li>
<li>Crear un función que reciba una estación de medición y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.</li>
</ol>